<head>
    <!-- STYLING -->
    <link rel="stylesheet" href="/css/{{ manifest['style.css'] }}"/>
    <!-- PAGE DATA -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ title | default: manifest.title }}</title>
    <meta name="description" content="{{ description or manifest.meta.description }}">
    <meta name="keywords" content="{{ manifest.meta.keywords | join: ', ' }}">
    <meta name="author" content="{{ author or manifest.meta.author }}">
    <!-- FEEDS -->
    <link rel="alternate" href="/feeds/feed.xml" type="application/atom+xml" title="{{ manifest.title }}">
    <link rel="alternate" href="/feeds/feed.json" type="application/json" title="{{ manifest.title }}">
</head>